:root {
  --color-light: #F6FCFF;
  --color-dark: #0C1E26;
  --color-primary: #4FB3E2;
  --color-secondary: #67E1D5;
  --transition: all 0.3s ease;
  --border-radius: 4px;
  --max-width: 1100px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-light);
  color: var(--color-dark);
  font-size: 16px;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  color: var(--color-light);
  text-decoration: none;
  transition: var(--transition);
}

a:hover {
  color: var(--color-dark)
}

h1, h2 {
  margin-bottom: 1rem;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 2rem;
}

.navbar {
  background-color: var(--color-primary);
  color: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 100%;
}

.navbar .logo {
  margin: 0;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 1rem;
}

header {
  min-height: 400px;
}

