* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

.container {
  width: 300px;
  margin: 20px auto;
  height: 300px;
  display: grid;
  grid-gap: 4px;
  grid-template-rows: 100px 100px 1fr 1fr;
  grid-template-columns: 80px 1fr 30px;
  background-color: black;
}



.item {
  background: #F3F3F3;
}

.one {
  grid-row: 1;
  grid-column: 1;
  color: #F3F3F3;
}

.two {
  background-color: red;
  color: red;
  grid-row: 1 / 3;
  grid-column: 2 / 4;

}

.three {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  color: #F3F3F3;
}

.four {
  background-color: blue;
  color: blue;
  grid-row: 3 / 5;
  grid-column: 1 / 2;
}

.five {
  grid-row: 3 / 5;
  grid-column: 2 / 3;
  color: #F3F3F3;
}

.six {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  color: #F3F3F3;
}

.seven {
  background-color: yellow;
  grid-row: 4 / 5;
  grid-column: 3 / 4;
  color: yellow;
}