@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --font-family: 'Roboto', sans-serif;
  --color-primary: #5bc3eb;
  --color-light: #f5fcff;
  --color-dark: #0c1e24;
  --color-grey-light: #ced8dc;
  --color-grey-dark: #64696a;
  --border-radius: 4px;
  --max-width: 900px;
  --transition: all 0.3s ease-in-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--font-family);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* main nav */
.main-nav {
  background-color: var(--color-dark);

  height: 5rem;
  padding: 1rem;
}

.main-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.main-nav a {
  color: var(--color-light);
  border-bottom: 8px solid var(--color-primary);
}

/* spices */

/* show */
.show h1,
.show h3 {
  color: var(--color-grey-dark);
}

.show a {
  color: var(--color-grey-dark);
  text-decoration: underline;
}

.delete {
  color: red;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  font-size: 1rem;
  margin-left: 1rem;
}

/* form */
.form-input {
  margin: 1rem 0;
}

label {
  display: block;
  width: 100%;
  font-weight: 700;
  color: var(--color-grey-dark);
}

input {
  display: block;
  width: 100%;
  padding: 1rem;
}

.checkbox-wrapper {
  display: flex;
  margin: 2rem 0;
  justify-content: flex-start;
}

/* utility classes */
.items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.item {
  border: 1px solid var(--color-grey-light);
  padding: 1rem;
  border-radius: var(--border-radius);
  width: 100%;
}

.item a {
  color: var(--color-grey-dark);
  text-decoration: underline;
}

.wrapper {
  padding: 1rem;
}

.wrapper h1 {
  margin: 2rem 0;
}

.bold {
  font-weight: bold;
}

.dark {
  color: var(--color-dark);
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
}

.btn {
  display: block;
  width: 100%;
  background-color: var(--color-dark);
  color: var(--color-primary);
  margin-top: 2rem;
  padding: 1rem;
  border-radius: var(--border-radius);
  font-size: 1.1rem;
  font-family: var(--font-family);
  cursor: pointer;
  border: 1px solid transparent;
  transition: var(--transition);
}

.btn:hover {
  background: transparent;
  border: 1px solid var(--color-dark);
  color: var(--color-dark);
}
