* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  height: 100vh;
}

.ex1 {
  margin: 10rem;
}

.ex1 .box1 {
  background: red;
  width: 25px;
  height: 25px;
  transition: all 0.4s ease-in-out;
}

.ex1 .box2 {
  background: blue;
  width: 25px;
  height: 25px;
  transition: all 0.3s ease-in-out 1s;
}

.ex1:hover > .box1,
.ex1:hover > .box2 {
  width: 100px;
}

.ex2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100px;
  height: 100px;
  margin: 10rem;
  position: relative;
  transition: all 4s ease;
}

.ex2 p {
  position: absolute;
  top: 40%;
  left: 40%;
}

.ex2:hover > .box1 {
  transform: rotate(45deg);
  transform-origin: top left;
}
.ex2:hover > .box2 {
}
.ex2:hover > .box3 {
}
.ex2:hover > .box4 {
}

.ex2 .box1 {
  background-color: red;
  height: 50px;
  width: 50px;
}
.ex2 .box2 {
  background-color: yellow;
  height: 50px;
  width: 50px;
}
.ex2 .box3 {
  background-color: blue;
  height: 50px;
  width: 50px;
}
.ex2 .box4 {
  background-color: green;
  height: 50px;
  width: 50px;
}
